body {
  
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #fcfcfc;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.025) 1px, transparent 23px);
  background-size: 100% 24px; /* 24px base line grid */


}
