/*
div{
    border: 3px solid red;
}
*/

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: white;
    text-align: left;
    background-image: url("../image/cover11.png");
    background-size: 100%;
    background-repeat: no-repeat;
   
}



head {
    
}

a:link {
  color: #5FC6D0;
  text-decoration: none;
}
.header {
    background: transparent;
    color: #5FC6D0;
    padding: 30px 0px;
    padding-bottom: 5px;
    
    
    
     
}

.hyplinks{
    text-align: right;
    padding-right: 50px;
}


hr{
    background: #5FC6D0;
    height: 1px;
    border: 0;
}

tr{

}

li{
display: inline-block;
margin: 0px 30px;

}


.no_dot {
     list-style: none;
     display: inline;
     color: #B0C4DE;

}
.intro {
  
    color: #5FC6D0;
    padding-bottom: 0px;
    padding-left: 40px;
    padding-top: 10px;
    border-bottom: 0px;
    list-style: none;
    min-height: 100vh;
    
    }


.statement {
    padding: 10px 0px;
    padding-bottom: 0px;
    color: #5FC6D0;
    background-color: transparent;
    font-size: 17px;
}
    
.info {
    width: 80%;
    margin: 15px;
    margin-left: 0%;
    background-color: transparent;
    padding: 15px;
    border-radius: 0px;
}


.statement2 {
    padding: 10px 
    color: #5FC6D0;
    background-color: transparent;
    font-size: 17px;
}
    



.works {
    
}

.works img {
    height: 200px;
    width: 200px;
    borderadius: 0px;
}

.footer {
    background-color: #282828;

    color: #B0C4DE;
    padding: 0px 50px;
    border: 4px dashed white;
 
}

